.add-player {
  -fx-alignment: center-left;
  -fx-spacing: 10;
  -fx-max-height: 50;
}

.add-player * {
  -fx-font-size: 20;
}

.add-player-button {
  -fx-min-width: 50;
  -fx-min-height: 50;
  -fx-border-color: black;
  -fx-border-width: 2;
  -fx-background-color: -fx-background-color-2;
  -fx-effect: -fx-drop-shadow-color-1;
  -fx-font-size: 20;
}

.add-player-label {
  -fx-pref-width: 80;
}

.add-player-input {
  -fx-background-color: transparent;
  -fx-border-color: black;
  -fx-border-width: 0 0 2 0;
}