.alert-dialog-dialog {
  -fx-alignment: center;
  -fx-background-color: -fx-background-color-1;
  -fx-max-width: 600;
  -fx-max-height: 400;
  -fx-border-color: black;
  -fx-border-width: 2;
  -fx-effect: -fx-drop-shadow-color-1;
  -fx-padding: 20;
}