.game-card {
  -fx-spacing: 10;
  -fx-pref-width: 200;
}

.game-card Button {
  -fx-pref-width: 200;
  -fx-pref-height: 200;
  -fx-border-color: black;
  -fx-border-width: 2;
  -fx-background-color: -fx-background-color-2;
  -fx-effect: -fx-drop-shadow-color-1;
  -fx-background-size: cover;
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
}

.game-card Label {
  -fx-wrap-text: true;
}