.pause-menu-dialog {
  -fx-alignment: center;
  -fx-spacing: 20;
  -fx-background-color: -fx-background-color-1;
  -fx-max-width: 300;
  -fx-max-height: 400;
  -fx-border-color: black;
  -fx-border-width: 2;
  -fx-effect: -fx-drop-shadow-color-1;
}

.pause-menu-blur {
  -fx-fill: rgba(0, 0, 0, 0.3)
}