.game-load-view {
  -fx-alignment: center;
  -fx-spacing: 20;
}

.game-load-view * {
  -fx-alignment: center;
}

.game-load-title-box {
  -fx-spacing: 5;
}

.game-load-option-box {
  -fx-spacing: 20;
}