.game-setup-title {
  -fx-font-size: 20;
}

.game-setup {
  -fx-alignment: center;
}

.game-setup-left {
  -fx-spacing: 40;
  -fx-padding: 50 0 0 120;
}

.game-setup-player-box {
  -fx-spacing: 20;
}

.game-setup-scroll-pane {
  -fx-background-color: transparent;
}

.game-setup-right {
  -fx-spacing: 40;
  -fx-padding: 50 355 0 0;
}

.game-setup-board-box {
  -fx-spacing: 20;
}

.game-setup-selected-board {
  -fx-border-width: 4;
}

.game-setup-start {
  -fx-alignment: center;
  -fx-padding: 0 0 55 0;
  -fx-spacing: 15;
}