.snakes-and-ladders-left {
  -fx-padding: 30 0 30 30;
}

.snakes-and-ladders-dice {
  -fx-spacing: 15;
}

.snakes-and-ladders-board-container {
  -fx-alignment: center;
  -fx-max-width: 200;
  -fx-max-height: 200;
}